*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    height: 80px;
    background-color: #274c77;
    color: #e7ecef;
}


main{
    height: calc(100vh - 80px);
    background-color: #c5e1f1;
}


h1,
h3 {
    text-align: center;
    padding: 20px 0;
}

#container{
    padding-top: 90px;
}